
#myUL-right{
    display: none;
}



.img-icon{
    width: 16px;
    height: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
    margin: 4px 3px 0 2px;

}

a.caret.caret-down{
    color: #3E6DEE;
}

a.folder.folder-down{
    color: #3E6DEE;
}


#reports a:visited, a:focus {
    color: #3E6DEE;
}



#projects.caret.caret-down::before{
    content: url("https://raw.githubusercontent.com/OliaPopova/filesistem/68ab06ac42b1ab78f52c39b0a2ab0b794a7fbcd7/frontend/projectsblue.svg");
    display: inline-block;
    margin-right: 6px;
}
#projects.caret::before{
    content: url("https://raw.githubusercontent.com/OliaPopova/filesistem/68ab06ac42b1ab78f52c39b0a2ab0b794a7fbcd7/frontend/projects.svg");
    display: inline-block;
    margin-right: 6px;
}

#samples.caret.caret-down::before{
    content: url("https://raw.githubusercontent.com/OliaPopova/filesistem/68ab06ac42b1ab78f52c39b0a2ab0b794a7fbcd7/frontend/samplesblue.svg");
    display: inline-block;
    margin-right: 6px;
}
#samples.caret::before{
    content: url("https://raw.githubusercontent.com/OliaPopova/filesistem/68ab06ac42b1ab78f52c39b0a2ab0b794a7fbcd7/frontend/samples.svg");
    display: inline-block;
    margin-right: 6px;
}

#lib.caret.caret-down::before{
    content: url("https://raw.githubusercontent.com/OliaPopova/filesistem/68ab06ac42b1ab78f52c39b0a2ab0b794a7fbcd7/frontend/libblue.svg");
    display: inline-block;
    margin-right: 6px;
}
#lib.caret::before{
    content: url("https://raw.githubusercontent.com/OliaPopova/filesistem/68ab06ac42b1ab78f52c39b0a2ab0b794a7fbcd7/frontend/lib.svg");
    display: inline-block;
    margin-right: 6px;
}

#dif.caret.caret-down::before{
    content: url("https://raw.githubusercontent.com/OliaPopova/filesistem/293606d67cce72f763154967fff2952fe508179a/frontend/difblue.svg");
    display: inline-block;
    margin-right: 6px;
}
#dif.caret::before{
    content: url("https://raw.githubusercontent.com/OliaPopova/filesistem/293606d67cce72f763154967fff2952fe508179a/frontend/dif.svg");
    display: inline-block;
    margin-right: 6px;
}

#reports.caret.caret-down::before{
    content: url("https://raw.githubusercontent.com/OliaPopova/filesistem/68ab06ac42b1ab78f52c39b0a2ab0b794a7fbcd7/frontend/reportsblue.svg");
    display: inline-block;
    margin-right: 6px;
}
#reports.caret::before{
    content: url("https://raw.githubusercontent.com/OliaPopova/filesistem/68ab06ac42b1ab78f52c39b0a2ab0b794a7fbcd7/frontend/reports.svg");
    display: inline-block;
    margin-right: 6px;
}

.folder.folder-down::before{
    content: url("https://raw.githubusercontent.com/OliaPopova/filesistem/293606d67cce72f763154967fff2952fe508179a/frontend/folderblue.svg");
    display: inline-block;
    margin-right: 6px;
}
.folder::before{
    content: url("https://raw.githubusercontent.com/OliaPopova/filesistem/68ab06ac42b1ab78f52c39b0a2ab0b794a7fbcd7/frontend/folder.svg");
    display: inline-block;
    margin-right: 6px;
}




.caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}
.folder {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}



.caret::after {
    content: "\276F";
    color: #A6A6A6;
    display: inline-block;
    margin-right: 6px;
}
.folder::after {
    content: "\276F";
    color: #A6A6A6;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::after {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */'
    transform: rotate(90deg);
    color: #3E6DEE;
}

.folder-down::after {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */'
    transform: rotate(90deg);
    color: #3E6DEE;
}


ul.nested.active{
    padding: 15px;
    background: rgba(226, 234, 255, 0.22);
}

body {
    --nav-width: 260px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    background-color: #F5F5F5;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    background: #FFFFFF;
    /*box-shadow: 1px 0px 20px;*/
    overflow-y: scroll;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #7A7A7A;
    font-weight: 500;
}


.nav__link:hover {
    background: #E2EAFF;
}

.caret:hover {
    background: #E2EAFF;
}

.folder:hover {
    background: #E2EAFF;
}

html{
    min-width: 700px;
}

@media screen and (max-width: 480px) {
    html{
        min-width: 350px;
    }
}


#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
    min-width: 350px;
}



a.caret {
    line-height: 1.5;
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #7A7A7A;
    font-weight: 500;
}
a.folder {
    line-height: 1.5;
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #7A7A7A;
    font-weight: 500;
}

a {
    color: #7A7A7A;
    line-height: 1.5;
}


ul, #myUL {
    list-style-type: none;
}

#myUL {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.folder {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.caret::before {
    color: #7A7A7A;
    display: inline-block;
    margin-right: 6px;
}

.folder::before {
    color: #7A7A7A;
    display: inline-block;
    margin-right: 6px;
}


.nested {
    display: none;
}

.active {
    display: block;
}


/* Стиль поля поиска */
#mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
}



@media screen and (max-width: 480px) {

    a.caret-right.caret-right-down{
        color: #3E6DEE;
    }

    a.folder-right.folder-right-down{
        color: #3E6DEE;
    }


    #reports-right a:visited, a:focus {
        color: #3E6DEE;
    }


    #projects-right.caret-right.caret-right-down::before{
        content: url("https://raw.githubusercontent.com/OliaPopova/filesistem/68ab06ac42b1ab78f52c39b0a2ab0b794a7fbcd7/frontend/projectsblue.svg");
        display: inline-block;
        margin-right: 6px;
    }
    #projects-right.caret-right::before{
        content: url("https://raw.githubusercontent.com/OliaPopova/filesistem/68ab06ac42b1ab78f52c39b0a2ab0b794a7fbcd7/frontend/projects.svg");
        display: inline-block;
        margin-right: 6px;
    }

    #samples-right.caret-right.caret-right-down::before{
        content: url("https://raw.githubusercontent.com/OliaPopova/filesistem/68ab06ac42b1ab78f52c39b0a2ab0b794a7fbcd7/frontend/samplesblue.svg");
        display: inline-block;
        margin-right: 6px;
    }
    #samples-right.caret-right::before{
        content: url("https://raw.githubusercontent.com/OliaPopova/filesistem/68ab06ac42b1ab78f52c39b0a2ab0b794a7fbcd7/frontend/samples.svg");
        display: inline-block;
        margin-right: 6px;
    }

    #lib-right.caret-right.caret-right-down::before{
        content: url("https://raw.githubusercontent.com/OliaPopova/filesistem/68ab06ac42b1ab78f52c39b0a2ab0b794a7fbcd7/frontend/libblue.svg");
        display: inline-block;
        margin-right: 6px;
    }
    #lib-right.caret-right::before{
        content: url("https://raw.githubusercontent.com/OliaPopova/filesistem/68ab06ac42b1ab78f52c39b0a2ab0b794a7fbcd7/frontend/lib.svg");
        display: inline-block;
        margin-right: 6px;
    }

    #dif-right.caret-right.caret-right-down::before{
        content: url("https://raw.githubusercontent.com/OliaPopova/filesistem/293606d67cce72f763154967fff2952fe508179a/frontend/difblue.svg");
        display: inline-block;
        margin-right: 6px;
    }
    #dif-right.caret-right::before{
        content: url("https://raw.githubusercontent.com/OliaPopova/filesistem/293606d67cce72f763154967fff2952fe508179a/frontend/dif.svg");
        display: inline-block;
        margin-right: 6px;
    }

    #reports-right.caret-right.caret-right-down::before{
        content: url("https://raw.githubusercontent.com/OliaPopova/filesistem/68ab06ac42b1ab78f52c39b0a2ab0b794a7fbcd7/frontend/reportsblue.svg");
        display: inline-block;
        margin-right: 6px;
    }
    #reports-right.caret-right::before{
        content: url("https://raw.githubusercontent.com/OliaPopova/filesistem/68ab06ac42b1ab78f52c39b0a2ab0b794a7fbcd7/frontend/reports.svg");
        display: inline-block;
        margin-right: 6px;
    }

    .folder-right.folder-right-down::before{
        content: url("https://raw.githubusercontent.com/OliaPopova/filesistem/293606d67cce72f763154967fff2952fe508179a/frontend/folderblue.svg");
        display: inline-block;
        margin-right: 6px;
    }
    .folder-right::before{
        content: url("https://raw.githubusercontent.com/OliaPopova/filesistem/68ab06ac42b1ab78f52c39b0a2ab0b794a7fbcd7/frontend/folder.svg");
        display: inline-block;
        margin-right: 6px;
    }


    .folder-right {
        cursor: pointer;
        -webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none;
    }

    .caret-right::after {
        content: "\276F";
        color: #A6A6A6;
        display: inline-block;
        margin-right: 6px;
    }

    .folder-right::after {
        content: "\276F";
        color: #A6A6A6;
        display: inline-block;
        margin-right: 6px;
    }

    .folder-right-down::after {
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari */'
        transform: rotate(90deg);
        color: #3E6DEE;
    }

    .caret-right-down::after {
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari */'
        transform: rotate(90deg);
        color: #3E6DEE;
    }

    .folder-right:hover {
        background: #E2EAFF;
    }

    a.folder-right {
        line-height: 1.5;
        display: block;
        padding: 12px 18px;
        text-decoration: none;
        color: #7A7A7A;
        font-weight: 500;
    }

    .folder-right {
        cursor: pointer;
        -webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none;
    }

    .folder-right::before {
        color: #7A7A7A;
        display: inline-block;
        margin-right: 6px;
    }




    #myUL-right {
        display: block;
        margin: 0;
        padding: 0;
    }
    ul, #myUL-right {
        list-style-type: none;
    }
    .nav {
        display: none;
    }
    #mySearch-right {
        width: 100%;
        font-size: 18px;
        padding:11px;
        margin: 60px 0 0 0;
        border: 1px solid #ddd;
    }

    .nav__link-right {
        display: block;
        padding: 12px 18px;
        text-decoration: none;
        color: #7A7A7A;
        font-weight: 500;
    }

    .nav__link-right:hover {
        background: #E2EAFF;
    }

    a.caret-right {
        line-height: 1.5;
        display: block;
        padding: 12px 18px;
        text-decoration: none;
        color: #7A7A7A;
        font-weight: 500;
    }

    a.folder-right {
        line-height: 1.5;
        display: block;
        padding: 12px 18px;
        text-decoration: none;
        color: #7A7A7A;
        font-weight: 500;
    }

    a {
        color: #7A7A7A;
        line-height: 1.5;
    }

    .caret-right {
        cursor: pointer;
        -webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none;
    }
    .folder-right {
        cursor: pointer;
        -webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none;
    }


    .caret-right::before {
        color: #7A7A7A;
        display: inline-block;
        margin-right: 6px;
    }
    .folder-right::before {
        color: #7A7A7A;
        display: inline-block;
        margin-right: 6px;
    }

    .caret-right:hover {
        background: #E2EAFF;
    }
    .folder-right:hover {
        background: #E2EAFF;
    }

    /**
     * Переключаемая боковая панель навигации
     * выдвигающаяся справа
     */
    .nav-right {
        /*  ширна произвольная, не стесняйтесь экспериментировать */
        width: var(--nav-width);
        /* фиксируем и выставляем высоту панели на максимум */

        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        margin: 0;
        /* сдвигаем (прячем) панель относительно правого края страницы */
        right: -320px;
        /* плавный переход смещения панели */
        -webkit-transition: right 0.3s;
        -moz-transition: right 0.3s;
        transition: right 0.3s;
        /* определяем цвет фона панели */
        background: #FFFFFF;
        /* поверх других элементов */
        z-index: 2000;
    }


    /**
     * Кнопка переключения панели
     * тег <label>
     */
    .nav-toggle {
        /* абсолютно позиционируем */
        position: absolute;
        /* относительно правого края панели */
        right: 360px;
        /* отступ от верхнего края панели */
        top: 1em;
        /* внутренние отступы */
        padding: 0.5em;

        /* вид курсора */
        cursor: pointer;
        /* размер шрифта */
        font-size: 1.2em;
        line-height: 1;
        /* всегда поверх других элементов страницы */
        z-index: 2001;
        color: #BBBBBB;

    }

    label {
        cursor: default;
    }

    /* определяем текст кнопки
     * символ Unicode (TRIGRAM FOR HEAVEN)
    */
    .nav-toggle:after {
        /*content: '\2630';*/
        /*text-decoration: none;*/
        /*color: #BBBBBB;*/
        content: '';
        background-image: url(https://raw.githubusercontent.com/OliaPopova/filesistem/e9a4b23f48a03d730c0c8ee192bb9de69ba36e13/frontend/nav.svg);
        width: 28px;
        height: 23.8px;
        position: absolute;
        background-size: cover;
    }





    /* цвет текста при наведении */
    .nav-toggle:hover {
        color: #BBBBBB;
    }


    /**
     * Скрытый чекбокс (флажок)
     * невидим и недоступен :)
     * имя селектора атрибут флажка
     */
    [id='nav-toggle'] {
        position: absolute;
        display: none;
    }


    /**
     * изменение положения переключателя
     * при просмотре на мобильных устройствах
     * когда навигация раскрыта, распологаем внутри панели
    */
    [id='nav-toggle']:checked ~ .nav-right > .nav-toggle {
        left: auto;
        top: 7px;
        right: 20px;
    }


    /**
     * Когда флажок установлен, открывается панель
     * используем псевдокласс:checked
     */
    [id='nav-toggle']:checked ~ .nav-right {
        right: 0;
        box-shadow: -4px 0px 20px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: -4px 0px 20px 0px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: -4px 0px 20px 0px rgba(0, 0, 0, 0.5);
        overflow-y: auto;
    }


    /*
     * смещение контента страницы
     * на размер ширины панели,
     * фишка необязательная, на любителя
    */
    [id='nav-toggle']:checked ~ main > article {
        -webkit-transform: translateX(-320px);
        -moz-transform: translateX(-320px);
        transform: translateX(-320px);
    }


    /*
     * изменение символа переключателя,
     * привычный крестик (MULTIPLICATION X),
     * вы можете испльзовать любой другой значок
    */
    [id='nav-toggle']:checked ~ .nav-right > .nav-toggle:after {
        content: '';
        background-image: url(https://raw.githubusercontent.com/OliaPopova/filesistem/b6b070a10dd09dba15cd8ed5683394ac8b59701e/frontend/navclose.svg);
        width: 100%;
        height:100%;
        position: absolute;
        background-size: cover;

    }


    /**
     * позаботьтимся о средних и маленьких экранах
     * мобильных устройств
     */
    @media screen and (min-width: 320px) {
        html,
        body {
            margin: 0;
            overflow-x: hidden;
        }
    }

    @media screen and (max-width: 320px) {
        html,
        body {
            margin: 0;
            overflow-x: hidden;
        }

        .nav-right {
            width: 100%;
            box-shadow: none
        }
    }

    /* фон затемнения на основной контент
     * при этом элементы блокируютя
     * спорная такая фича, если оно вам надо
     * просто раскомментируйте
    */
    .mask-content {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        visibility: hidden;
        opacity: 0;
    }

    [id='nav-toggle']:checked ~ .mask-content {
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity .5s, visibility .5s;
        transition: opacity .5s, visibility .5s;
    }


}

