body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    background-color: #F5F5F5;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #FFFFFF;
    box-shadow: 1px 0px 20px;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #7A7A7A;
    font-weight: 500;
}

.nav__link:hover {
    background: #E2EAFF;
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a.caret {
    line-height: 1.5;
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #7A7A7A;
    font-weight: 500;
}

a {
    color: #7A7A7A;
    line-height: 1.5;
}


ul, #myUL {
    list-style-type: none;
}

#myUL {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: #7A7A7A;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */'
transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}









